@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* colors */
:root {
  --black: #232127;
  --dark-gray: #34313d;
  --dark-purple: #3a3054;
  --purple: #4b3f6b;
  --gray: #9e9aa8;
  --light-gray: #bfbfbf;
  --lighter-gray: #eff1f7;
  --magenta: #2bd0d0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

a {
  color: var(--gray);
}

ul {
  list-style-type: none;
}
